@model AddVisaViewModel

<div class="main-border main-p">
    <h2 class="text-center">Добавление новой визы</h2>
    @using (Html.BeginForm(
        "Add", "Visa", FormMethod.Post,
        htmlAttributes: new { onsubmit = "return validateForm(this)" }
    ))
    {
        @Html.ValidationSummary();

        <div class="form-group">
            @Html.Label("Country", "Страна*")
            @Html.DropDownList("Country",
                Model.Countries.Select(y => new SelectListItem { Text = y.Name, Value = y.Id.ToString(), }),
                new { @class = "form-control" }
            )
        </div>

        <div class="form-row">
            <div class="form-group col">
                @Html.Label("ServiceType", "Вид услуги")
                @Html.DropDownList("ServiceType",
                    Model.ServiceTypes.Select(y => new SelectListItem { Text = y.Name, Value = y.Id.ToString(), }),
                    "",
                    new { @class = "form-control" }
                )
            </div>
            <div class="form-group col">
                @Html.Label("Terms", "Сроки оформления")
                @Html.TextBox("Terms", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                @Html.Label("Validity", "Период действия визы")
                @Html.TextBox("Validity", null, new { @class = "form-control" })
            </div>
            <div class="form-group col">
                @Html.Label("Period", "Период пребывания в стране")
                @Html.TextBox("Period", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                @Html.Label("Price", "Цена")
                <input type="number" name="Price" id="Price" class="form-control" value="0" min="0" max="999999" step="0.01" />
            </div>
            <div class="form-group col">
                @Html.Label("WebSite", "Сайт посольства")
                @Html.TextBox("WebSite", null, new { @class = "form-control" })
            </div>
        </div>

        <hr />
        <h2 class="text-center">Необходимые документы</h2>

        foreach (var item in Model.Documents)
        {
            <div class="form-check">
                <label class="form-check-label" for="@item.Id">
                    <input type="checkbox" name="Documents" class="form-check-input" id="@item.Id" value="@item.Id" />
                    @item.Name
                </label>
            </div>
        }


        <div class="form-row form-group col mt-3">
            <h5>Дополнительные документы</h5>
            @Html.TextBox("AdditionalDocs", null, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Ок</button>
    }
</div>
